.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.size-input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.size-input label,
.size-input input {
  margin-bottom: 15px;
  font-size: 1.3em;
}

.grid-container {
  display: grid;
  max-width: fit-content;
  margin: 0 auto;
}

.grid-square {
  width: 4em;
  height: 4em;
  max-width: 4em;
  max-height: 4em;
  background-color: #57656f;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.symbol {
  font-size: 2em;
}

.board {
  background-color: #282c34;
}

.error-message {
  color: red;
}

.reset-button {
  background-color: #3b454c;
  box-shadow: none;
  border: 1px #57656f solid;
  font-size: 1.2em;
  color: white;
  margin-top: 1em;
  padding: 0.7em;
  border-radius: 10px;
}

.reset-button:hover {
  background-color: #57656f;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.modal-container {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}
